@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  font-family:'Playfair Display', sans-serif;
  color: var(--color-text);
}

h1,
section,
p,
svg,
a,
button {
  transition: all 0.4s  /* allows smooth theme change */
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --beige: #EFDBCE;
  --brown: #C99471;
  --pink: #F1A39E;
  --green: #adb597;
  --light-blue: #5a757eb0;
  --light-pink: #be6a5590;
}

.dark-theme {
  --color-text: var(--beige);
  --color-background-text: var(--brown);
  --color-section-text: #efdbcecc;
}

.light-theme{
  --color-text: var(--brown);
  --color-background-text: var(--beige);
  --color-section-text: #c99471b9;
}

/* Experience  ---------------------------------------- */

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}

/* Page Content  ---------------------------------------- */
.preloader{
  background-color: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999;
}

.preloader-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
  height: 100vh;
  width: 100vw;
}

.preloader-wrapper span {
  font-size: 90px;
  color: #efdbcee6;
  text-shadow: 3px 5px 6px var(--color-section-text);
}

.preloader-wrapper span:nth-child(1) {
  margin-top: -5px;
  margin-left: -25px;
  animation: down 1s ease-in-out forwards;
}

.preloader-wrapper span:nth-child(2) {
  margin-left: 25px;
  animation: up 1s ease-in-out forwards;
}

@keyframes down {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    margin-bottom: -45px;
  }
}

@keyframes up {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    margin-top: -55px;
  }
}

.orbit {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  position: absolute;
  animation: spin 5s infinite ease-in-out, pulse 2.5s infinite ease-in-out;
  animation-delay: 0.7s;
}

.floating {
  height: 0px;
  opacity: 70%;
  animation: perspective 5s infinite linear;
  animation-delay: 0.7s;
}

@keyframes pulse {
  20% {
    box-shadow: 0 0 20px var(--brown);
  }
	50% {
    box-shadow: 0 0 120px var(--brown);
  }	
  90% {
    box-shadow: 0 0 20px var(--brown);
  }	
  100% {
    box-shadow: 0 0 0px var(--brown);
  }	
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes perspective {
  0% {
    height: 0px;
  }
  10% {
    height: 15px;
    transform: rotate(90deg);
  }
  30% {
    height: 40px;
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(120deg);
  }
  80% {
    height: 20px;
  }
  100% {
    height: 0px;
  }
}

/* Page Content  ---------------------------------------- */
.page{
  z-index:99999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-wrapper{
  position:relative;
}

/* Intro  ---------------------------------------- */
.animatedis {
  display: inline-block;
  transform: translateY(100%);
}

.intro-text{
  text-align: center;
  text-overflow: clip;
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 16px;
  color: var(--color-section-text);
  transform: translate(-50%, -50%);
}

.planet{
  height: 30px;
  position: absolute;
  top: 70%;
  left:45%;
  transform: translate(-50%, -50%);
  color: var(--color-section-text);
  opacity: 0%;
  animation: bounce 0.5s ease-in alternate infinite;
}

@keyframes bounce {
  0%{
    transform: translateY(0)
  }

  100%{
    transform: translateY(8px)
  }
}

/* Toggle bar  ---------------------------------------- */
.toggle-button {
  cursor: pointer;
  top: 4%;
  right: 8%;
  z-index: 99999999999999;
  opacity: 0;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.toggle-image {
  position: relative;
  width: 56px;
  height: 28px;
  background-color: var(--green);
  border-radius: 999px;
  box-shadow: var(--beige) 0px 2px 10px 0px;
  opacity: 80%;
}

.toggle-circle {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--beige);
  transition:all 0.2s ease-in-out;
  opacity: 60%;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.85);
}

.slide {
  left: 28px;
}

/* Section formatting  ---------------------------------------- */
.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  position: relative;
  width: 100%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background-text);
  overflow: hidden;
}

.left {
  left: 0;
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right {
  right: 0;
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

/* Progress bars --------------------------------------- */
.progress-wrapper {
  height: 0;
  width: 12px;
  z-index: 9999;
}

.progress-bar-wrapper-left {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}

.progress-bar-wrapper-right {
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar{
  height: 100vh;
  width: 100%;
  background-color: var(--color-section-text);
  transform-origin: top center;
  transform: scaleY(1);
}

/* Sections --------------------------------------- */
.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
  border-top: 2px solid var(--color-text);
  padding-top: 200px;
  border-bottom: 2px solid var(--color-text);
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.section-heading {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Abril-Fatface";
}

.section-text {
  line-height: 2;
  font-size: 16px;
  margin-bottom: 30px;
}

.tech-stack {
  line-height: 2;
  font-size: 16px;
  opacity: 60%;
}

/* section text animations ---------------------------------------- */
.section-heading-link {
  font-size: 40px;
  padding:0;
  padding-right: 2px;
  font-family: "Abril-Fatface";
  font-weight: bold;
  color: var(--color-section-text);
  background: none;
  opacity: 1;
  margin-bottom: 5px;
  position: relative;
  margin-top: 30px;

  /* animation */
  text-shadow: none;
  transition: text-shadow transform 0.7s ease-in-out;
}

.active {
  text-shadow: 0px 0px 10px var(--color-section-text);
  transform: scaleY(1.1) scaleX(1.1) translateX(5%);
}

.clickable {
  transform: scaleY(1.1) scaleX(1.1) translateX(7%);
}

.highlight {
  background-image: linear-gradient(var(--color-section-text), var(--color-section-text));
  background-size: 0% 100%;
  border-radius: 6px;
  padding-left: 4px;
  padding-right: 4px;
  background-repeat: no-repeat;
  transition: all 0.7s ease-in-out;
}

.highlight-active {
  background-size: 100% 100%;
  color: var(--color-background-text);
}

.preview {
  height: 50vh;
  border-radius: 10px;
}

.hidden-image {
  position: absolute;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  left: 10vw;
}

/* Fancy section title ---------------------------------------- */
.section-intro-wrapper {
  position: relative;
  border-bottom: 2px solid var(--color-text);
  padding-bottom: 50px;
}

.section-title{
  /* text-align: center; */
  color: var(--color-section-text);
  font-family: 'Abril Fatface';
  font-weight: 500;
  line-height: 1;
  font-size: 80px;
}

.ring {
  top: 80px;
  left: 50%;
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  animation: pulse 2s infinite ease-in-out;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--color-section-text);
}

/* Hero  ---------------------------------------- */
.hero{
  width: 100vw;
  height: 100vh;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main {
  position: absolute;
  bottom: 15%;
  left: 8%;
}

.hero-second {
  position: absolute;
  right: 5%;
  top: 17%;
}

.hero-main-title {
  font-family: 'Abril Fatface';
  font-size: 50px;
  color: rgb(234, 199, 157);
}

.hero-main-description {
  font-size: 18px;
  color: var(--green);
  text-shadow: 3px 5px 10px var(--color-section-text);
}

.hero-second-subheading {
  font-size: 20px;
  color: var(--green);
  text-shadow: 3px 5px 7px var(--color-section-text);
}

/* links ----------------------- */
.icon {
  margin-right: 10px;
  opacity: 50%;
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 9px;
  margin-top: 5px;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
}

.credit-link {
  padding:0;
  font-weight: bold;
  color: var(--color-section-text);
  background: none;
  opacity: 1;

  line-height: 2;
  font-size: 16px;
  margin: 0;
}

/* form ----------------------- */
.form {
  background-color: var(--light-pink);
  border-radius:3%;
  padding: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  opacity: 80%;
}

.label-text {
  margin-top: 22px;
  margin-bottom: 5px;
  color: var(--beige);
}

input, textarea {
  background-color: var(--beige);
  opacity: 60%;
  border-style:hidden;
  border-radius: 6px;
  padding: 5%;
  font-family: 'Playfair Display';
}

textarea {
  resize: none;
  padding: 3%;
}

button {
  background-color: var(--beige);
  border-style: none;
  padding: 10px 25px 10px 25px;
  width: fit-content;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 22px;
  font-family: 'Playfair Display';
  color: var(--brown);
  opacity: 80%;
  align-self: flex-end;
  font-size:medium;
}

.copyright {
  margin-top: 5px;
  font-size: 15px;
  color: var(--color-section-text);
}

/* other colors override ----------------------- */
.second-background {
  background-color: var(--green);
}

.third-background {
  background-color: var(--light-pink)
}

/* media queries for desktop ----------------------- */
@media (min-width: 969px) {
  .preloader-wrapper{
    margin-top: 0%;
  }
  .section {
    width: 50% 
  }
  .progress-bar-wrapper-left {
    right: auto;
    left: 0;
  }
  .hero-main-title {
    font-size: 60px;
  }
  .hero-main-description {
    font-size: 18px;
  }
  
  .hero-second-subheading {
    font-size: 24px;
  }
  .hero-main {
    bottom: 15%;
  }
  
  .hero-second {
    right: 5%;
    top: 30%;
  }

  .toggle-button {
    top: 6%;
    right: 4%
  }

  .active {
    text-shadow: none;
  }
  
  .planet{
    left: 48%;
    height: 40px;
  }

  /* hidden imgs/texts only for desktop */
  button:hover {
    box-shadow: var(--beige) 0px 2px 15px 0px;
    transform: scale(0.95);
    cursor: pointer;
  }

  .credit-link:hover {
    box-shadow: none;
    text-shadow: 0px 0px 10px var(--color-section-text);
    transform: scale(1.05);
  }

  .section-heading-link:hover .hidden-image{
    visibility: visible;
  }

  .section-heading-link:hover {
    box-shadow: none;
    text-shadow: 0px 0px 10px var(--color-section-text);
    transform: scale(1.02);
  }

  .icon:hover {
    box-shadow: var(--color-section-text) 0px 2px 15px 4px;
    transform: scale(1.15);
    transition: 0.2s ease-in-out;
  }

  .website-link:hover {
    text-shadow: 0px 0px 5px var(--color-section-text);
    text-decoration: underline 2px;
    cursor: pointer;
  }
}